################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/tkipp24-projects-dmatijani-vlovric-dhegedusi-mmarkovin7/v17
